/* .navbar-navbar{
   border: 2px solid green;
}


.navbar-buttons {
  display:flex;
  border: 2px solid pink;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}




.div-outer-nav {
  border: 2px solid red;

}
.submitbutton {
  display: inline;
}  */


.navbarheader-outsideofnavbarheader {
  display: flex;
}



.home-login-account-button {
  border-color: red;
  display: flex;
}




.navbarheader-outsideofnavbarheader {
  display: flex;
  justify-content: space-between;
}



/* .home-login-account-button {
border-color: red;
display: flex;
} */


.login-logout-button {
  padding-top: 5px;
  padding-right: 10px;
}

.myaccount-button{
  padding-top: 5px;
  padding-right: 10px;

}

.home-button{
  padding-top: 5px;
  padding-right: 10px;
}
