.cardTitle{
font-size: 20px;

}

.cardIngredients{
  font-size: 18px;

}

.ingredientsText{
  font-size: 16px;

}

.healthlabel{
  font-size: 18px;
}

.healthlabelText{
  font-size: 16px;

}

.recipeUrl{
  font-size: 16px;

}


.detail-recipe{
  display: flex;
  justify-content: space-around;
}
