.single-recipe {
  padding-bottom: 20px;

}


 .Card-Card{
  /* border-color: grey; */
}

.detailbutton >a{
  color: white;
}

.detailbutton {
  background: cadetblue !important;
  margin-right: 10px;
}
