
.single-recipe {
   /* border-style: solid;
  border-color: green; */
}

.Card-Card{
  border: solid;
  /* border-color: grey; */
}



.item__button {
  border-style: solid;
  border-color: blue;
}



.recipe-container {
/* border-style: solid;
border-color: red; */
padding: 25px 50px 75px 100px;

}

.item-list_container {
/* border-style: solid;
border-color: green; */
display: flex;

}


.search-card-div {
/* border-style: solid;
border-color: orange; */
flex-direction: row;
}



ul {
list-style-type: none;
}
